<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean-->
    <typeAliases>
        <package name="com.zy.vehiclerepairer.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="sqlmap/CustomerMapper.xml"/>
        <mapper resource="sqlmap/MaintainMapper.xml"/>
        <mapper resource="sqlmap/MaintainProjectMapper.xml"/>
        <mapper resource="sqlmap/ParStockMapper.xml"/>
        <mapper resource="sqlmap/PartMapper.xml"/>
        <mapper resource="sqlmap/PartPurchaseMapper.xml"/>
        <mapper resource="sqlmap/UserMapper.xml"/>
    </mappers>

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库 -->
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>