<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.vehiclerepairer.mapper.MaintainOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.zy.vehiclerepairer.model.MaintainOrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orderId" jdbcType="INTEGER" property="orderId" />
    <result column="itemId" jdbcType="INTEGER" property="itemId" />
    <result column="itemName" jdbcType="VARCHAR" property="itemName" />
    <result column="itemType" jdbcType="INTEGER" property="itemType" />
    <result column="buyPrice" jdbcType="DECIMAL" property="buyPrice" />
    <result column="salePrice" jdbcType="DECIMAL" property="salePrice" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderId, itemId, itemName, itemType, buyPrice, salePrice, count, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MaintainOrderDetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MaintainOrderDetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.vehiclerepairer.model.MaintainOrderDetail">
    insert into MaintainOrderDetail (id, orderId, itemId, 
      itemName, itemType, buyPrice, 
      salePrice, count, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, 
      #{itemName,jdbcType=VARCHAR}, #{itemType,jdbcType=INTEGER}, #{buyPrice,jdbcType=DECIMAL}, 
      #{salePrice,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zy.vehiclerepairer.model.MaintainOrderDetail">
    insert into MaintainOrderDetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="itemId != null">
        itemId,
      </if>
      <if test="itemName != null">
        itemName,
      </if>
      <if test="itemType != null">
        itemType,
      </if>
      <if test="buyPrice != null">
        buyPrice,
      </if>
      <if test="salePrice != null">
        salePrice,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=INTEGER},
      </if>
      <if test="buyPrice != null">
        #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.vehiclerepairer.model.MaintainOrderDetail">
    update MaintainOrderDetail
    <set>
      <if test="orderId != null">
        orderId = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        itemId = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        itemName = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        itemType = #{itemType,jdbcType=INTEGER},
      </if>
      <if test="buyPrice != null">
        buyPrice = #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null">
        salePrice = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.vehiclerepairer.model.MaintainOrderDetail">
    update MaintainOrderDetail
    set orderId = #{orderId,jdbcType=INTEGER},
      itemId = #{itemId,jdbcType=INTEGER},
      itemName = #{itemName,jdbcType=VARCHAR},
      itemType = #{itemType,jdbcType=INTEGER},
      buyPrice = #{buyPrice,jdbcType=DECIMAL},
      salePrice = #{salePrice,jdbcType=DECIMAL},
      count = #{count,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>