<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/style.css">

    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>


    <script type="text/javascript"
            src="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript"
            src="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
    <script src="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.3/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link href="https://cdn.bootcss.com/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" rel="stylesheet">

    <!--模态-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form class="form-inline definewidth m20" action="index.html" method="get">
    手机号：
    <input type="text" name="menuname" id="mobile" class="abc input-default" placeholder="" value="">&nbsp;&nbsp;
    车牌号：
    <input type="text" name="menuname" id="plateNumber" class="abc input-default" placeholder="" value="">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCustomer">新增客户</button>

</form>
<table id="dataTableExample" class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>客户姓名</th>
        <th>电话</th>
        <th>地址</th>
        <th>车型</th>
        <th>车牌号</th>
        <th>发动机号</th>
        <th>购买日期</th>
        <th>管理操作</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="item : ${customers.list}">
        <tr>
            <td th:text="${item.customerName}"></td>
            <td th:text="${item.moble}"></td>
            <td th:text="${item.address}"></td>
            <td th:text="${item.carType}"></td>
            <td th:text="${item.plateNumber}"></td>
            <td th:text="${item.engineNumber}"></td>
            <td th:text="${item.buyTime}"></td>
            <td>
                <a type="button" data-toggle="modal" data-target="#addCustomer">编辑</a>
                <a href="edit.html">删除</a>
            </td>
        </tr>

    </th:block>
    </tbody>
</table>
<div th:replace="comm/macros :: pageAdminNav(${customers})"></div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    编号客户信息
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover definewidth m10">
                    <tr>
                        <td class="tableleft">客户姓名</td>
                        <td><input type="text" name="customer"/></td>
                    </tr>
                    <tr>
                        <td class="tableleft">电话</td>
                        <td><input type="password" name="mobile"/></td>
                    </tr>
                    <tr>
                        <td class="tableleft">地址</td>
                        <td><input type="text" name="address"/></td>
                    </tr>
                    <tr>
                        <td class="tableleft">车型</td>
                        <td><input type="text" name="carType"/></td>
                    </tr>
                    <tr>
                        <td class="tableleft">车牌号</td>
                        <td><input type="text" name="cph"/></td>
                    </tr>
                    <tr>
                        <td class="tableleft">发动机号</td>
                        <td><input type="text" name="fdjh"/></td>
                    </tr>
                    <tr>
                        <td class="tableleft">购买日期</td>
                        <td>
                            <input type="text" id="datepicker" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft">状态</td>
                        <td>
                            <input type="radio" name="status" value="1" checked/> 启用
                            <input type="radio" name="status" value="0"/> 禁用
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft"></td>
                        <td>
                            <button class="btn btn-primary" type="button">保存</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

</body>
</html>
<!--

<script>
    $(function () {

        var t = $('#dataTableExample').DataTable({
            "ajax": [
                {
                    "name": "Tiger Nixon",
                    "position": "System Architect",
                    "salary": "$3,120",
                    "start_date": "2011/04/25",
                    "office": "Edinburgh",
                    "extn": 5421
                },
                {
                    "name": "Garrett Winters",
                    "position": "Director",
                    "salary": "5300",
                    "start_date": "2011/07/25",
                    "office": "Edinburgh",
                    "extn": "8422"
                }
            ]
        });
    })
</script>-->
